@import "tailwindcss";

:root {
  --foreground: #171717;
}

@theme inline {
  --color-foreground: var(--foreground);
  --font-poppins: var(--font-poppins), sans-serif;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground: #ededed;
  }
}

body {
  @apply bg-gradient-to-r from-purple-600 to-pink-300;
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
